.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Becas{
    background-color: rgb(247, 255, 255);
    padding: 25px;
    margin: 0 10px;
}

.Anuncios{
    background-color: rgb(247, 255, 255);
    padding: 25px;
    margin: 0 10px;
}

.Calendario{
    background-color: rgb(247, 255, 255);
    padding: 25px;
    margin: 0 10px;
}

.Maestros{
    background-color: rgb(247, 255, 255);
    padding: 25px;
    margin: 0 10px;
}