.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gadmin{
    background-color: rgb(247, 255, 255);
    padding: 25px;
    margin: 0 10px;
}

.gdocs{
    background-color: rgb(247, 255, 255);
    padding: 25px;
    margin: 0 10px;

}